.list-tab {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #f7f7f7;
    overflow-x: hidden;
    z-index: 999;
}

.tab-box {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    overflow-x: auto;
}

.list-tab .tab {
    font-size: 14px;
    color: #929292;
    text-align: center;
}

.list-tab .tab span {
    margin: 0 5px;
    text-align: center;
    padding: 8px;
    border-radius: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-tab .tab .active {
    background-image: linear-gradient( 90deg, rgb(106, 184, 255) 0%, rgb(64, 158, 255) 100%);
    box-shadow: 0px 3px 16.02px 1.98px rgba(64, 158, 255, 0.28);
    color: #fff;
}

.list-tab .tab img {
    margin-left: 5px;
    height: 8px;
    margin-top: -2px;
}

.content {
    margin: 70px 15px 20px 15px;
}

.list-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    height: 140px;
    background-color: #f8f8f8;
    border-radius: 10px;
    overflow: hidden;
}

.usual-issue {
    display: flex;
    align-items: center;
    width: 100%;
}

.usual-issue .img {
    background-size: 100% 100%;
}

.list-item img {
    /* height: 100%; */
    max-width: 100%;
    border-radius: 10px;
}

.select-format .tixing {
    position: fixed;
    top: 50px;
    left: 0;
    padding: 33px 15px;
    min-height: calc(100vh - 1px);
    width: 100%;
    background: rgba(255, 255, 255, 1);
    z-index: 890;
}

.select-format .title {
    color: #35445c;
    font-weight: 900;
    font-size: 18px;
    margin-left: 15px;
    margin-top: 30px;
}

.tixing .classify {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.tixing .classify span {
    padding-bottom: 20px;
    width: 20%;
    font-size: 15px;
    font-weight: 600;
    color: #35445c;
}

.errors-come {
    padding-top: 0!important;
}

.come-from {
    padding: 0 15px;
}

.errors-come .box {
    display: flex;
    padding: 30px 0px 15px 0px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #aeb3bd;
    font-size: 16px;
    color: #35445c;
}

.errors-come .box .dot.active {
    margin-right: 20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-image: linear-gradient( 90deg, rgb(106, 184, 255) 0%, rgb(64, 158, 255) 100%);
    box-shadow: 0px 3px 16.02px 1.98px rgba(64, 158, 255, 0.28);
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}

.noData.no {
    display: none;
}